@model DashBoard_MotoManager.Models.EditMotoVM
@{
    ViewData["Title"] = "EditMoto";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<style>
    div{
        color:black;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Sửa thông tin xe</h6>
                <h4 class="align-content-center justify-content-center">Thêm xe mới</h4>
                <form asp-action="EditMoto" asp-route-maXe="@Model.MotoBike.MaXe" method="post" enctype="multipart/form-data">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="container-fluid pt-4 px-4">
                                <div class="row g-4">
                                    <!--Phan Nay là set thông tin chung + Thư Viện-->
                                    <div class="col-sm-12 col-xl-6">
                                        <div class="bg-light rounded h-100 p-4">
                                            <h6 class="mb-4">Thông Tin Chung</h6>
                                            <div class="mb-3">
                                                <label asp-for="@Model.MotoBike.TenXe" class="form-label">Tên Xe</label>
                                                <input type="text" class="form-control" asp-for="@Model.MotoBike.TenXe"
                                                       aria-describedby="emailHelp">
                                                <span asp-validation-for="@Model.MotoBike.TenXe" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="@Model.MotoBike.GiaBanMoTa" class="form-label">Giá Bán Từ</label>
                                                <input type="text" class="form-control" asp-for="@Model.MotoBike.GiaBanMoTa">
                                                <span asp-validation-for="@Model.MotoBike.GiaBanMoTa" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Ảnh Mô Tả</label>
                                                <input class="form-control" type="file" id="singleImageInput" asp-for="@Model.AnhMoTaIF">
                                            </div>
                                            <div class="mb-3" style="text-align: center;">
                                                <img id="singleImagePreview" src="@($"https://localhost:7252/images/{Model.MotoBike.AnhMoTaUrl}")" alt="Image Preview" style="width: 200px; height: auto; margin: auto;" />
                                            </div>
                                            <div class="form-floating mb-3">
                                                @{
                                                    bool isFirstBrand = true;
                                                }
                                                <select class="form-select" asp-for="@Model.MotoBike.MaHangSanXuat" aria-label="Floating label select example">
                                                    @foreach (var brand in Model.Brands)
                                                    {
                                                        if (isFirstBrand)
                                                        {
                                                            <option selected value="@brand.MaHangSanXuat">@brand.TenHangSanXuat</option>
                                                            isFirstBrand = false;
                                                        }
                                                        else
                                                        {
                                                            <option value="@brand.MaHangSanXuat">@brand.TenHangSanXuat</option>
                                                        }
                                                    }
                                                </select>
                                                <label for="floatingSelect">Hãng Sản Xuất</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                @{
                                                    bool isFirstType = true;
                                                }
                                                <select class="form-select" asp-for="@Model.MotoBike.MaLoai" aria-label="Floating label select example">
                                                    @foreach (var type in Model.MotoTypes)
                                                    {
                                                        if (isFirstType)
                                                        {
                                                            <option selected value="@type.MaLoai">@type.TenLoai</option>
                                                            isFirstType = false;
                                                        }
                                                        else
                                                        {
                                                            <option value="@type.MaLoai">@type.TenLoai</option>
                                                        }
                                                    }
                                                </select>
                                                <label for="floatingSelect">Loại Xe</label>
                                            </div>
                                            <div class="form-floating" style="padding-top:5px">
                                                <textarea class="form-control" placeholder="Leave a comment here" asp-for="@Model.MotoBike.ThietKe" style="height: 150px;"></textarea>
                                                <label asp-for="@Model.MotoBike.ThietKe">Thiết Kế</label>
                                            </div>
                                            <div class="form-floating" style="padding-top:5px">
                                                <textarea class="form-control" placeholder="Leave a comment here" asp-for="@Model.MotoBike.TinhNangNoiBat" style="height: 150px;"></textarea>
                                                <label asp-for="@Model.MotoBike.TinhNangNoiBat">Tính Năng Nổi Bật</label>
                                            </div>
                                            <div class="form-floating" style="padding-top:5px">
                                                <textarea class="form-control" placeholder="Leave a comment here" asp-for="@Model.MotoBike.TienIch" style="height: 150px;"></textarea>
                                                <label asp-for="@Model.MotoBike.TienIch">Tiện Ích</label>
                                            </div>
                                            <!--Thu vien-->
                                            <div class="mb-3">
                                                <div class="mb-3">
                                                    <label asp-for="LibraryImageIF" class="form-label">Thư Viện Ảnh Của Xe</label>
                                                    <input class="form-control" type="file" id="multiImageInput" asp-for="LibraryImageIF" multiple>
                                                </div>
                                                <div class="mb-3" id="multiImagePreviewContainer" style="text-align: center;">
                                                    @if (Model.MotoBike.MaLibraryNavigation != null && Model.MotoBike.MaLibraryNavigation.LibraryImageVM.Any())
                                                    {
                                                        @foreach (var libraryImg in Model.MotoBike.MaLibraryNavigation.LibraryImageVM)
                                                        {
                                                            <img src="@($"https://localhost:7252/library/{libraryImg.ImageUrl}")" style="width:200px;height:auto;margin:10px">  
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Phan Nay là set thông số kỹ thuật-->
                                    <div class="col-sm-12 col-xl-6">
                                        <div class="bg-light rounded h-100 p-4">
                                            <h6 class="mb-4">Thông Số Kỹ Thuật</h6>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.TrongLuong class="form-label">Trọng Lượng</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.TrongLuong
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.KichThuoc class="form-label">Kích Thước</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.KichThuoc
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.KhoangCachTrucBanhXe class="form-label">Khoảng Cách Trục Bánh Xe</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.KhoangCachTrucBanhXe
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.DoCaoYen class="form-label">Độ Cao Yên Xe</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.DoCaoYen
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.DoCaoGamXe class="form-label">Độ Cao Gầm Xe</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.DoCaoGamXe
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.DungTichBinhXang class="form-label">Dung Tích Bình Xăng</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.DungTichBinhXang
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.KichCoLop class="form-label">Kích Cỡ Lốp</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.KichCoLop
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.PhuocTruoc class="form-label">Phuộc Trước</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.PhuocTruoc
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.PhuocSau class="form-label">Phuộc Sau</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.PhuocSau
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.LoaiDongCo class="form-label">Loại Động Cơ</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.LoaiDongCo
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.CongSuatToiDa class="form-label">Công Suất Tối Đa</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.CongSuatToiDa
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.MucTieuThuNhienLieu class="form-label">Mức Tiêu Thụ Nhiên Liệu</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.MucTieuThuNhienLieu
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.HeThongKhoiDong class="form-label">Hệ Thống Khởi Động</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.HeThongKhoiDong
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.MomentCucDai class="form-label">Moment Cực Đại</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.MomentCucDai
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.DungTichXyLanh class="form-label">Dung Tích XyLanh</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.DungTichXyLanh
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.DuongKinhHanhTrinhPittong class="form-label">Đường Kính Và Hành Trình Pittong</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.DuongKinhHanhTrinhPittong
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for=@Model.MotoBike.TySoNen class="form-label">Tỷ Số Nén</label>
                                                <input type="text" class="form-control" asp-for=@Model.MotoBike.TySoNen
                                                       aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <button type="submit" class="btn btn-primary">Sửa</button>
                </form>
            </div>
        </div>
    </div>
</div>

 <!--Mã hiện ảnh khi chọn vào IFormFile-->
<script>
    document.getElementById('singleImageInput').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imgElement = document.getElementById('singleImagePreview');
                imgElement.src = e.target.result;
                imgElement.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });

    document.getElementById('multiImageInput').addEventListener('change', function (event) {
        const files = event.target.files;
        const container = document.getElementById('multiImagePreviewContainer');
        container.innerHTML = ''; // Clear previous images
        Array.from(files).forEach(file => {
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const imgElement = document.createElement('img');
                    imgElement.src = e.target.result;
                    imgElement.style.width = '200px';
                    imgElement.style.height = 'auto';
                    imgElement.style.margin = '10px';
                    container.appendChild(imgElement);
                }
                reader.readAsDataURL(file);
            }
        });
    });
</script>






