@model X.PagedList.IPagedList<DashBoard_MotoManager.Models.MotoVersionVM>
@{
    ViewData["Title"] = "ListVersion";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<style>
    tr{
        text-align:center;
        color:black;
    }
</style>
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Danh Hãng Sản Xuất</h6>
            <a asp-controller="Version" asp-action="AddVersion" asp-route-motoID="@ViewBag.MotoID"
               class="btn btn-outline-primary">
                Thêm Phiên Bản
                <i class="bi bi-plus-circle-fill" style="color: blue;"></i>
            </a>
        </div>
        @if (Model == null || !Model.Any())
        {
            <p>Không có phiên bản nào cho xe này.</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">#</th>
                            <th scope="col">Tên Phiên Bản</th>
                            <th scope="col">Giá Phiên Bản</th>
                            <th scope="col">Lựa Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                        }
                        @foreach (var version in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@version.TenVersion</td>
                                <td>@version.GiaBanVersion</td>
                                <td>
                                    <div class="text-center">
                                        <a asp-controller="Version" asp-action="SeeDetail" asp-route-versionId="@version.MaVersion"
                                           class="btn btn-outline-primary m-2">
                                            Xem
                                            <i class="bi bi-eye-fill"></i>
                                        </a>
                                        <a asp-controller="Version" asp-action="UpdateVersion" asp-route-versionId="@version.MaVersion"
                                           class="btn btn-outline-primary m-2">
                                            Sửa
                                            <i class="bi bi-wrench"></i>
                                        </a>

                                        <form method="post" asp-controller="Version" asp-action="RemoveVersion" style="display:inline;">
                                            <input type="hidden" name="versionId" value="@version.MaVersion" />
                                            <input type="hidden" name="motoID" value="@Model.FirstOrDefault().MaXe" />
                                            <button type="submit" class="btn btn-outline-danger m-2"
                                                    onclick="return confirm('Bạn có chắc muốn xóa phiên bản @version.TenVersion này không?');">
                                                Xoá <i class="bi bi-trash-fill"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            index++;
                        }
                    </tbody>
                </table>
            </div>
            <!-- Phân trang -->
            <div class="align-items-center" style="margin-top:30px">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    @if (Model.HasPreviousPage)
                    {
                        <a href="@Url.Action("ListVersion", new { motoID = Model.FirstOrDefault().MaXe,page = Model.PageNumber - 1 })" class="btn btn-primary">Trước</a>
                    }

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <a href="@Url.Action("ListVersion", new { motoID = Model.FirstOrDefault().MaXe,page = i})" class="@(i == Model.PageNumber ? "btn btn-primary active" : "btn btn-primary")">
                            @i
                        </a>
                    }

                    @if (Model.HasNextPage)
                    {
                        <a href="@Url.Action("ListVersion", new { motoID = Model.FirstOrDefault().MaXe,page = Model.PageNumber + 1})" class="btn btn-primary">Sau</a>
                    }
                </div>
            </div>
        }
    </div>
    <!-- Javascript -->
    
</div>

