@model X.PagedList.IPagedList<DashBoard_MotoManager.Models.MotoTypeVM>
@{
    ViewData["Title"] = "ListType";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<style>
    tr {
        text-align: center;
        color: black;
    }
</style>
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Danh Sách Loại Xe</h6>
            <a asp-controller="MotoType" asp-action="AddType"
               class="btn btn-outline-primary">
                Thêm Loại Xe
                <i class="bi bi-plus-circle-fill" style="color: blue;"></i>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">#</th>
                        <th scope="col">Tên Loại Xe</th>  
                        <th scope="col">Đối Tượng Sử Dụng</th>
                        <th scope="col">Lựa Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = 1;
                    }
                    @foreach (var type in Model)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@type.TenLoai</td>
                            <td>@type.DoiTuongSuDung</td> 
                            <td>
                                <div class="text-center">
                                    <a asp-controller="MotoType" asp-action="SeeDetail" asp-route-typeId="@type.MaLoai"
                                       class="btn btn-outline-primary m-2">
                                        Xem
                                        <i class="bi bi-eye-fill" ></i>
                                    </a>
                                    <a asp-controller="MotoType" asp-action="UpdateType" asp-route-typeId="@type.MaLoai"
                                       class="btn btn-outline-primary m-2">
                                        Sửa
                                        <i class="bi bi-wrench" ></i>
                                    </a>

                                    <a href="javascript:void(0);" onclick="confirmDelete('@type.MaLoai', '@type.TenLoai')"
                                       class="btn btn-outline-primary m-2">
                                        Xoá
                                        <i class="bi bi-trash-fill" ></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>
        <!-- Phân trang -->
        <div class="align-items-center" style="margin-top:30px">
            <div class="btn-group me-2" role="group" aria-label="First group">
                @if (Model.HasPreviousPage)
                {
                    <a href="@Url.Action("ListType", new { page = Model.PageNumber - 1 })" class="btn btn-primary">Trước</a>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <a href="@Url.Action("ListType", new { page = i})" class="@(i == Model.PageNumber ? "btn btn-primary active" : "btn btn-primary")">
                        @i
                    </a>
                }

                @if (Model.HasNextPage)
                {
                    <a href="@Url.Action("ListType", new { page = Model.PageNumber + 1})" class="btn btn-primary">Sau</a>
                }
            </div>
        </div>
    </div>

</div>
<!-- Recent Sales End -->

<script>
    function confirmDelete(typeId, typeName) {
        if (confirm("Bạn có chắc muốn xóa loại " + typeName + " này không?")) {
            window.location.href = '@Url.Action("RemoveType", "MotoType")' + '?typeId=' + typeId;
        }
    }
</script>

